*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap:16px;
    color:#F9FAF8;
}

nav{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 16px 32px;
}

li.logo{
font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-right: 300px;
}

a{
    color: #F9FAF8;
    text-decoration: none;
    margin-left: 16px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #1F2937;
    color:white;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    font-size: small;

}

.hero{
     display: flex;
     justify-content: center;
     align-items: center;
     background: #1F2937;
     color: #F9FAF8;
     height: 400px;
     width: 100%;
     gap:50px;
     margin-top: 0;

}

.sentences{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    font-size: 48px;
    font-weight: 900;
    width: 400px;
    margin-bottom: 8px;
    margin-right: 50px;
}

.subtext{
    font-size: 18px;
    color:#E5E7EB;
    width: 450px;
    margin-top: 0;
}

.signup{
    height: 40px;
    width: 135px;
    border-radius: 15px;
    background: #3882F6;
    color:white;
    font-size: large;
    margin-right: 320px;
    border:0;

}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: medium;
  height: 250px;
  width: 550px;
  text-align: center;
  background: rgb(100, 100, 100);

}

.info{
    padding: 0;
    height: 500px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info2{
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.subtext2{
    width:160px;
    color:#1F2937;
}

.boxbox{
    border: solid rgb(22, 144, 192); 
    height: 160px;
    width: 160px;
    margin:20px;
    border-radius: 15px;
    
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    height: 400px;
    width: 100%;

}

.quotebody{
    color:#1F2937;
    width: 700px;
    height: 200px;
    display: flex;
    font-size: 36px;
   font-style: italic;
}

.user{
    font-size: 20px;
    align-self: flex-end;
    font-weight: bold;
    padding-right: 40px;
}

.cta{
    height: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox{
    background: #3882F6;
    height: 150px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.signupcta{
        height: 40px;
    width: 135px;
    border-radius: 15px;
    background: #3882F6;
    color:white;
    font-size: large;
    border:0;
    border: solid white;

}

.CTA{
    color: white;
    font-size: 29px;
    font-weight: 500;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100%;
    color: #E5E7EB;
}